{% extends 'base.html.twig' %}

{% block title %}Edit Tasks
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Edit Tasks</h1>
					</div>
					<div class="card-body">
						<form action="{{path('outfit_update', {id: outfit.id})}}" method="POST">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" name="outfit_type" value="{{outfit.type}}" class="form-control">
							</div>
	
							<div class="form-group">
								<label>Date:</label>
								<input type="text" name="outfit_size" value="{{outfit.size}}" class="form-control">
							</div>
							<div class="form-group">
								<label>About:</label>
								<textarea name="outfit_about" id="summernote">{{outfit.about}}</textarea>
							</div>
							<select name="outfit_master_id" class="form-control">
								{% for master in masters %}
									<option value="{{master.id}}" {% if master.id == outfit.masterId %} selected {% endif %}>
										{{master.name}}
									</option>
								{% endfor %}
							</select>
							<button type="submit" class="btn btn-primary margintop">Edit Task</button>
							<input type="hidden" name="token" value="{{ csrf_token('create_master_bla') }}"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
